<div class="event-section">

    <div class="basic-text" style="border-bottom: solid var(--border) 2pt; width: 100%;">
        <div style="margin: 10pt;">
            <h2 id='view-title' style="margin-top: 2pt; margin-bottom: 2pt;">Event view</h2>
            <label id="view-description" class="secondary-text">Replace this description in code</label>
        </div>
    </div>

    <div class="event-scroller">

        <div class="input-div">
            <label class="basic-text" for="event-name">Event name</label>
            <input oninput="updateSubmitEventButton()" type="text" placeholder="Event" id="event-name" class="input-field basic-text">
        </div>

        <div class="input-div">

            <label class="basic-text" for="device-select">Device</label>
            <div style="display: flex; flex-direction: column; gap: 10pt">

                <div style="display: flex; flex-direction: row; gap: 10pt">

                    <select onchange="deviceSelected()" style="width: 75%" id="device-select"
                            class="input-field basic-text">
                        <option value="" selected disabled hidden>Select Device</option>
                    </select>

                    <button style="width: 25%" class="button-style basic-text" onclick="addDevice()">Add</button>

                </div>

                <div id="devices-wrapper" class="selected-devices-wrapper">

                </div>

            </div>

        </div>

        <div class="hour-input">

            <div class="hour-div">

                <label class="basic-text" for="date-start">Start date</label>
                <input class="input-field" type="date" id="date-start" onchange="updateSubmitEventButton()">

            </div>

            <div class="hour-div">

                <label class="basic-text" for="date-end">End date</label>
                <input class="input-field" type="date" id="date-end" onchange="updateSubmitEventButton()">

            </div>

        </div>

        <div class="hour-input">

            <div class="hour-div">
                <label class="basic-text" for="time-start">Start Time</label>
                <input type="time" id="time-start" class="input-field" onchange="updateSubmitEventButton()">
            </div>

            <div class="hour-div">
                <label class="basic-text" for="time-end">End Time</label>
                <input type="time" id="time-end" class="input-field" onchange="updateSubmitEventButton()">
            </div>

        </div>

        <div class="input-div">

            <label class="basic-text">Selected days</label>

            <div class="list-day-div">

                <button id="Monday" class="day">M</button>
                <button id="Tuesday" class="day">T</button>
                <button id="Wednesday" class="day">W</button>
                <button id="Thursday" class="day">T</button>
                <button id="Friday" class="day">F</button>
                <button id="Saturday" class="day">S</button>
                <button id="Sunday" class="day">S</button>

            </div>

        </div>

        <div class="submit-button-div">
            <button disabled id="submit-button" class="button-style basic-text">Change Me</button>
            <button style="color: red" id="delete-button" class="button-style basic-text">Delete</button>
        </div>

    </div>

</div>
