<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <script src="https://kit.fontawesome.com/a345e0e583.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="navbar">

    </div>

    <div class="main-view">

        <div class="add-event-section">
        <div class="main-square">
            <div class="title-event basic-text">
                <h2>Create Event</h2>
                <label class="secondary-text">Add a new event to send a notification</label>
            </div>

            <div class="input-form-div">

                <form>
                    <input type="text" placeholder="Event Name"  oninput="checkName()" class="event-name">

                    <div class="list-devices-div">
                        <select class="list-devices" onchange="checkDevice()">
                            <option value="" selected disabled hidden>Select Device</option>
                            <option>Pierre</option>
                            <option>Waël</option>
                        </select>
                    </div>
                    <div class="date-input display-flex-space-between">
                        <input type="date" placeholder="Start Date" class="date-start" onchange="checkDate()">
                        <input type="date" placeholder="End Date" class="date-end" onchange="checkDate()">
                    </div>

                    <div class="list-day-div">
                        <button type="button" class="day">Monday</button>
                        <button type="button" class="day">Tuesday</button>
                        <button type="button" class="day">Wednesday</button>
                        <button type="button" class="day">Thursday</button>
                        <button type="button" class="day">Friday</button>
                        <button type="button" class="day">Saturday</button>
                        <button type="button" class="day">Sunday</button>
                    </div>

                    <div class="hour-input display-flex-space-between">
                        <input type="time" class="hour-start" onchange="checkHour()">
                        <input type="time" class="hour-end" onchange="checkHour()">
                    </div>

                    <div class="submit-event-div">
                        <button type="button" class="submit-event" onclick="checkInputEvent()">CREATE</button>
                    </div>

                </form>
            </div>

            <div>

                <label class="secondary-text">Requirements:</label>

                <ul class="secondary-text" id="requirement-div">
                    <li id="name-requirement" style="color: red">At least 5 characters.</li>
                    <li id="device-requirement" style="color: red">Select a device</li>
                    <li id="date-requirement" style="color: red">Select an interval</li>
                    <li id="day-requirement" style="color: red">Select at least one day</li>
                    <li id="hour-requirement" style="color: red">Select a hour</li>
                </ul>

            </div>


        </div>


    </div>
    </div>


</body>
<script src="js/add-event.js"></script>
</html>