<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <script src="https://kit.fontawesome.com/a345e0e583.js" crossorigin="anonymous"></script>
    <script src="js/list-event.js"></script>
</head>
<body>

    <div class="navbar">

    </div>

    <div class="main-view">

        <div class="section">

            <div class="basic-text" style="border-bottom: solid var(--border) 2pt; width: 100%">
                <div style="margin: 10pt;">
                    <h2 style="margin-top: 2pt; margin-bottom: 2pt;">Manage events</h2>
                    <label class="secondary-text">Add, edit or remove notification events</label>
                </div>
            </div>

            <event-info class="list-div event-list-category-text"
                        name="Name"
                        devices="Devices"
                        days="Days"
                        start="Start"
                        end="End"
                        time="Time Range">
            </event-info>

            <div id="event-container" class="event-container">

            </div>

        </div>

        <div class="section">

            <div class="basic-text" style="border-bottom: solid var(--border) 2pt; width: 100%">
                <div style="margin: 10pt;">
                    <h2 style="margin-top: 2pt; margin-bottom: 2pt;">Manage devices</h2>
                    <label class="secondary-text">Manage your network devices</label>
                </div>
            </div>

            <device-info class="list-div event-list-category-text"
                        name="Name"
                        ip="Last IP"
                        mac="MAC Address"
                        activity="Last activity"
                        uuid="Unique ID">
            </device-info>

            <div id="device-container" class="event-container">

            </div>

        </div>

    </div>

        <div class="editOverlay">
            <div class="main-view-edit">
                <div class="basic-text" style="border-bottom: solid var(--border) 2pt; width: 100%;">
                    <div style="margin: 10pt;">
                        <h2 style="margin-top: 2pt; margin-bottom: 2pt;">Create Event</h2>
                        <label class="secondary-text">Add a new event to send a notification</label>
                    </div>
                </div>
    
                <div style="display: flex; flex-direction: column; padding: 10pt; gap: 10pt; width: 100%; box-sizing: border-box">
    
                    <label class="basic-text" for="event-name">Event name</label>
                    <input type="text" placeholder="Event" id="event-name" class="input-field basic-text">
    
                    <label class="basic-text" for="device-select">Device</label>
                    <select id="device-select" class="input-field basic-text" onchange="">
                        <option value="" selected disabled hidden>Select Device</option>
                    </select>
    
                    <label class="basic-text" for="date-start">Start date</label>
                    <input class="input-field" type="date" id="date-start" onchange="">
    
                    <label class="basic-text" for="date-end">End date</label>
                    <input class="input-field" type="date" id="date-end" onchange="">
    
                    <label class="basic-text">Selected days</label>
                    <div class="list-day-div">
    
                        <button class="day">M</button>
                        <button class="day">T</button>
                        <button class="day">W</button>
                        <button class="day">T</button>
                        <button class="day">F</button>
                        <button class="day">S</button>
                        <button class="day">S</button>
    
                    </div>
    
                    <div class="hour-input">
    
                        <div class="hour-div">
                            <label class="basic-text" for="hour-start">Start hour</label>
                            <input type="time" id="hour-start" class="input-field" onchange="">
                        </div>
    
                        <div class="hour-div">
                            <label class="basic-text" for="hour-end">End hour</label>
                            <input type="time" id="hour-end" class="input-field" onchange="">
                        </div>
    
                    </div>
    
                    <div class="submit-button-div">
                        <button class="button-style basic-text" onclick="applyEditEvent()">Edit</button>
                        
                    </div>
    
    
                </div>
    
            </div>
            </div>
        </div>

    
</body>

</html>