<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomeGuard Panel</title>
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <script src="js/loader.js"></script>
    <script src="js/home.js"></script>
    <script src="js/components.js"></script>
    <script src="js/add-event.js"></script>
    <script src="js/edit-event.js"></script>
    <script src="js/edit-device.js"></script>
</head>
<body>

<div class="main-view">

    <div>
        <label class="basic-text" style="color: var(--primary); font-size: 35pt">HomeGuard Panel</label>
    </div>

    <div class="main-data">

        <div class="status-div">

        <div class="small-section">

            <div class="basic-text" style="border-bottom: solid var(--border) 2px; width: 100%">
                <div style="margin: 10px;">
                    <h2 style="margin-top: 2px; margin-bottom: 2px;">Status</h2>
                    <label class="secondary-text">Monitor the app status here</label>
                </div>
            </div>

            <div class="status-data">

                <label id="info-devices" class="basic-text">Identified devices: 0</label>
                <label id="info-events" class="basic-text">Registered events: 0</label>

            </div>


            <div class="basic-text" style="border-bottom: solid var(--border) 2px; border-top: solid var(--border) 2px; width: 100%">
                <div style="margin: 10px;">
                    <h2 style="margin-top: 2px; margin-bottom: 2px;">Discord Webhook</h2>
                    <label class="secondary-text">Monitor the Discord webhook status here</label>
                </div>
            </div>

            <div class="status-data">

                <div class="input-div">

                    <label id='webhook-status' class="basic-text">Webhook status: Offline</label>

                    <label class="basic-text" for="discord-webhook">Update Discord webhook:</label>
                    <div style="display: flex; flex-direction: column; gap: 10pt">

                        <div style="display: flex; flex-direction: row; gap: 10pt">

                            <input style="width: 75%" id="discord-webhook" placeholder="Webhook URL"
                                   class="input-field basic-text">

                            <button id='submit-webhook' style="width: 25%" class="button-style basic-text" onclick="sendWebhook()">Send</button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="management-div">

        <div class="section">

            <div class="basic-text" style="border-bottom: solid var(--border) 2px; width: 100%">
                <div style="margin: 10px;">
                    <h2 style="margin-top: 2px; margin-bottom: 2px;">Manage events</h2>
                    <label class="secondary-text">Add, edit or remove notification events</label>
                </div>
            </div>

            <event-info class="list-div event-list-category-text"
                        name="Name"
                        devices="Devices"
                        days="Days"
                        start="Start"
                        end="End"
                        time="Time Range">
            </event-info>

            <div id="event-container" class="event-container">

            </div>

        </div>

        <div class="section">

            <div class="basic-text" style="border-bottom: solid var(--border) 2px; width: 100%">
                <div style="margin: 10px;">
                    <h2 style="margin-top: 2px; margin-bottom: 2px;">Manage devices</h2>
                    <label class="secondary-text">Manage your network devices</label>
                </div>
            </div>

            <device-info class="list-div event-list-category-text"
                         name="Name"
                         ip="Primary IP"
                         mac="MAC Address"
                         activity="Last activity">
            </device-info>

            <div id="device-container" class="event-container">

            </div>

        </div>

    </div>
    </div>

</div>

<div id='overlay' class="overlay">

</div>

<div id='message-overlay' class="message-overlay">

</div>


</body>

</html>