:root{

    --primary: #6E39CB;
    --text: #3A3541;
    --light-text: #89868D;
    --disabled-text: #B4B2B7;
    --background: #F4F5F9;
    --secondary-background: #E7E7F4;
    --border: #DBDCDE;

}

body{
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-background);
}

.basic-text{
    font-family: "Lato", sans-serif;
    font-size: 12pt;
    color: var(--text);
}

.secondary-text {
    font-family: "Lato", sans-serif;
    font-size: 12pt;
    color: var(--light-text);

}

.navbar{

    height: 100%;
    width: 15%;
    background-color: white

}

.main-view{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}


/* Property Design Add Event. */

.section{

    height: 50%;
    width: 75%;

    margin: 10pt;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    min-heignt: 500pt;
    min-width: 750pt;

    background-color: white;
    border-radius: 8pt;
    border: solid var(--border) 2pt;

}

.list-div{

    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid var(--border) 2pt;
    width: 100%;
    padding: 10pt;
    box-sizing: border-box;

}

.button-style{

    border: 0;
    border-radius: 5pt;
    color: white;
    padding: 5pt;
    min-width: 75pt;
    background-color: var(--text);

}

.button-style:hover{
    filter: brightness(125%);
}

.button-style:active{
    filter: brightness(90%);
}

.event-list-category-text {
    font-family: "Lato", sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: var(--text);
}

.main-square{

    width: 100%;
    height: 100%;

    padding: 20px;


    background-color: white;

    border-radius: 10px;

}

.add-event-section .main-square h2{
    color: var(--shark-700);
}

.add-event-section .main-square .input-form-div form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;

}

.add-event-section .main-square .input-form-div form input{
    border-top: none;
    border-left: none;
    border-right: none;

    padding-bottom: 7px;
    margin-top: 30px;
    
    outline: none;
}


.list-devices-div .list-devices{
    margin-top: 30px;

    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.add-event-section .main-square .input-form-div form .submit-event-div{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin-top: 35px;

}

.add-event-section .main-square .input-form-div form .submit-event-div button{
    background-color: rgb(0, 140, 255);
    border: none;

    width: 100px;
    height: 30px;

    border-radius: 5px;

    font-weight: bold;
    color: white;

    cursor: pointer;

}

/* Property Design Button Select Day. */

.list-day-div{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.list-day-div .day{
    margin-top: 20px;

    background-color: var(--shark-600);
    font-weight: bold;
    color: white;

    border: none;
    border-radius: 5px;
    padding: 5px;

    cursor: pointer;
}

/* General Property */

.display-flex-space-between{
    display: flex;
    justify-content: space-between; 
}