:root{

    --primary: #1e89fc;
    --text: #3A3541;
    --light-text: #89868D;
    --disabled-text: #B4B2B7;
    --background: #F4F5F9;
    --secondary-background: #E7E7F4;
    --border: #DBDCDE;

}

body{
    position: absolute;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-background);
}

.basic-text{
    font-family: "Lato", sans-serif;
    font-size: 12pt;
    color: var(--text);
}

.secondary-text {
    font-family: "Lato", sans-serif;
    font-size: 12pt;
    color: var(--light-text);

}

.navbar{

    height: 100%;
    width: 15%;
    background-color: white

}

.main-view{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 750pt;

}

.main-data{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    gap: 15pt;

}

.title-text{

    font-family: "Lato", sans-serif;
    color: var(--primary);
    font-size: 25pt;
    font-weight: bold;

}

.management-div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 775pt;
    min-height: 550pt;
    height: 75%;
    gap: 15pt;

}

.status-div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 550pt;
    height: 75%;
    gap: 15pt;

}


/* Property Design Add Event. */

.section{

    height: 50%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: white;
    border-radius: 8pt;
    border: solid var(--border) 2pt;

    box-sizing: content-box;

}

.small-section{

    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: white;
    border-radius: 8pt;
    border: solid var(--border) 2pt;

    min-width: 350pt;

}

.event-scroller{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10pt;
    gap: 20pt;
    width: 100%;
    height: 100%;
    max-height: 500pt;
    box-sizing: border-box;
    overflow: scroll;

}

.status-data{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-top: 5pt;
    margin-bottom: 5pt;
    padding: 10pt;
    gap: 20pt;
    width: 100%;

}

.device-scroller{

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10pt;
    gap: 20pt;
    width: 100%;
    height: 100%;
    max-height: 500pt;
    box-sizing: border-box;
    overflow: scroll;

}

.device-tab-div{

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    object-fit: contain;

    gap: 20pt;

    width: 50%;
    height: 100%;

}

.event-section{

    margin: 10pt;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 400pt;

    min-height: 200pt;
    max-height: 700pt;

    background-color: white;
    border-radius: 8pt;
    border: solid var(--border) 2pt;

}

.device-section {

    margin: 10pt;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 800pt;

    min-height: 200pt;
    max-height: 500pt;

    background-color: white;
    border-radius: 8pt;
    border: solid var(--border) 2pt;

}

.submit-button-div{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10pt;

}

.list-div{

    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid var(--border) 2pt;
    width: 100%;
    max-height: 50pt;
    padding: 10pt;
    box-sizing: border-box;

}

.event-container{
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.event-container::-webkit-scrollbar{
    display: none;
}

.button-style{

    border-radius: 5pt;
    color: var(--text);
    padding: 5pt;
    min-width: 75pt;
    min-height: 30pt;
    border: solid var(--border) 2pt;
    background-color: white;
    transition: ease-in-out 0.1s;

}

.button-style:hover {

    background-color: var(--background);
    transition: ease-in-out 0.1s;

}

.button-style:active {

    background-color: var(--secondary-background);
    transition: ease-in-out 0.1s;

}

.button-style:disabled {

    color: var(--secondary-background);
    background-color: white;
    transition: ease-in-out 0.1s;

}

.input-field{

    outline: 0;

    border: 2pt solid var(--border);
    border-radius: 5pt;

    background-color: var(--background);

    padding: 8pt;

    min-width: 75pt;
    min-height: 15pt;

}

.hour-input{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.input-div{

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10pt;

}

.hour-div{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5pt;

}

.selected-device-div{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2pt;
    background-color: var(--primary);
    border-radius: 10pt;
    padding: 5pt;

}

.selected-devices-wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5pt;
}

.remove-device-button{

    outline: 0;
    border: 0;
    background-color: transparent;
    color: white;

}


.event-list-category-text {
    font-family: "Lato", sans-serif;
    font-size: 13pt;
    font-weight: bold;
    color: var(--text);
}

.main-square{

    width: 100%;
    height: 100%;

    padding: 20px;

    background-color: white;

    border-radius: 10px;

}


/* Property Design Button Select Day. */

.list-day-div{
    display: flex;
    justify-content: space-between;
}

.day{

    width: 25pt;
    height: 25pt;

    background-color: var(--light-text);
    font-weight: bold;
    color: white;
    transition: ease-in-out 0.1s;

    border: none;
    border-radius: 50%;
    padding: 5pt;

    cursor: pointer;
}

.day-selected{

    transition: ease-in-out 0.1s;
    background-color: var(--primary);


}

.overlay {

    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

    animation: ease-in-out 1s;

}

.message-overlay {

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    gap: 10pt;
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 2;

    pointer-events:none;
    animation: ease-in-out 1s;
    box-sizing: border-box;

    padding: 15pt


}

.message-div{

    display: flex;
    flex-direction: column;
    padding: 10pt;
    width: 200pt;

    max-height: 200pt;

    background-color: white;
    border: solid 2pt var(--border);
    border-radius: 5pt;

        pointer-events:all;

}

.main-view-edit{
    width: 30%;

    background-color: white;
    border-radius: 5px;
}
/* General Property */

.display-flex-space-between{
    display: flex;
    justify-content: space-between; 
}