<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Event</title>
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Plus Jakarta Sans">
    <script src="https://kit.fontawesome.com/a345e0e583.js" crossorigin="anonymous"></script>

    
</head>
<body>
    <section class="section-list-event">
        <div class="list-event">

        </div>
    </section>
</body>
<script src="js/list-event.js"></script>
</html>