<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Plus Jakarta Sans">
    <script src="https://kit.fontawesome.com/a345e0e583.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="sidebar">
        <i class="fa-solid fa-house fa-xl secondary-text"></i>
    </div>

</body>
<script>
    var elems = document.getElementsByClassName('sidebar');
    for(var i = 0; i < elems.length; ++i){
        let elem = elems[i];
        elem.addEventListener('mouseenter', () => {

            elem.style.maxWidth = "15%";

        });

        elem.addEventListener('mouseout', () => {

            elem.style.maxWidth = "50pt";

        });
    }
</script>
</html>